////////////////////////////////////////////////////////////////////////////////
// Header
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

.header {
  background: $bg_header;
  text-align: center;
  padding: 40px 0px 60px 0px;
  color: white;
}

.header__logo {
  padding: 0px 0px 80px 0px;
  @include font-size(32, 2);

  small {
    @include font-size(6);
    letter-spacing: 0.5em;
  }
}

.header__title {
  text-transform: uppercase;
}

.header__desc {
  padding: 20px 0px 60px 0px;
  @include font-size(16);
}

.header__link {
  color: white;
}

.header__status {
  margin-top: 15px;
}

.header__status--disconnected {
  color: #aec47b;
}