////////////////////////////////////////////////////////////////////////////////
// Component
// --------------------
////////////////////////////////////////////////////////////////////////////////

//
// Buttons
//
.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: $btn_height;
  background-color: $btn_bg;
  color: white;
  padding: 0px 70px 0px 40px;
  text-decoration: none;
  text-align: center;
  margin: 0 4px;
  @include border-radius(18px);
  @include font-line(20px, 60px);
  
  &:hover {
    text-decoration: none;
    background-color: $btn_bg_hover;
  }

  &:active {
    background-color: $btn_bg_active;
  }

  @include break-max($sm-min) {
    display: block;
    margin-bottom: 5px;
  }  

  .fa {
    position: absolute;
    top: 20px;
    right: 30px;    
    // margin-left: 10px;
  }
}

.btn--selected {
  background-color: $btn_bg_selected;
}
